:root{
    --bodyBg: #ccc;

    --titleBar1: #fff;
    --titleBar2: #ccc;
    --titleBarBorder1: #aaa;
    --titleText: #333;

    --winBtn1: #e4ab2c;
    --winBtn2: #28a745;
    --winBtn3: #e34c26;
    --winBtnHover1: #d0971c;
    --winBtnHover2: #1d9439;
    --winBtnHover3: #cf4b1c;
    --winBtnText: #fff;

    --menubarBg: #efefef;
    --menubarBorderBottom: #bbb;
    --menuItemHover1: #ccc;
    --menuItemText1: #333;
    --menuItem1: #ddd;
    --menuItem2: #bbb;

    --submenuBg: #fff;
    --submenuBorder: #ccc;
    --subItemBorder: #ccc;
    --subItemHoverBg: #ececec;
}
@font-face {
    font-family: 'SF Pro';
    src: url('fonts/sf-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,body{
    height: 100%;
}
body{
    margin: 0;
    overflow: hidden;
    background: var(--bodyBg);
    font-family: "SF Pro","microsoft yahei","sans-serif";
}
button{
    outline: none;
}
.drag{
    -webkit-app-region: drag;
}
.no-drag{
    -webkit-app-region: no-drag;
}

@keyframes slideToRight {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
@keyframes slideToBottom {
    from{
        transform: scaleY(0);
    }
    to{
        transform: scaleY(1);
    }
}